.margingPage {
    margin: 20px;
}

.pageTitle {
    justify-content: left;
    line-height: 20px;
    margin-bottom: 30px;
    width: 100%;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchFormSubmitInputText {
    display: none !important;
}

.searchFormSubmitInputIcon {
    display: block !important;
}

.MarseilleDivision {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
}

.hebergementMarseille {
    background-color: white;
    border-radius: 15px;
    width: 100%;

}

.hebergementMarseilleCard {
    background-color: white;
    padding: 5px;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    height: 155px;
    width: 100%;
    transition-duration: 0.5s;
}

.phoneMaring {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.lesPlusPopulaire {
    background-color: #F2F2F2;
    padding: 20px;
    width: 100%;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.economiqueFilterItems,
.animauxFilterItems,
.familialFilterItems,
.romantiqueFilterItems {
    font-family: 'Raleway';
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 2px solid #F2F2F2;
    border-left: hidden;


    padding-bottom: 9px;
    position: relative;
    transition-duration: 0.5s;
    text-align: justify;
}

.activitesMarseille {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activiteCard {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.5s;
    width: 100%;
}

.activiteCardLarge {
    width: 100%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.5s;
    margin-bottom: 20px;
}

.columnInter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.activiteCardLarge-image {
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    height: 100%;
}

.activiteCard-image {
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    height: 80%;
}

.activiteCardLarge-image img {
    width: 100%;
    height: 125px;
    position: relative;
    object-fit: cover;
}

.activiteCard-image img {
    width: 100%;
    height: 125px;
    position: relative;
    object-fit: cover;
}

.activiteCard-body {
    margin-left: 5%;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
}

#footer div {
    display: table-cell;
    width: auto;
    text-align: left;
    margin: 5px;
}

#footer div h3 {
    text-align: left;
}

#footer div:nth-of-type(3) {
    text-align: left;
}

.titleFooter {
    font-family: 'Raleway';
    font-weight: bolder;
    font-size: 13px;
}

.subtitleFooter {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 12px;
    color: grey;
    text-decoration: none;
}