/*
style.css
---------

*/

/*
Font
---------

*/
/*@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
*/

@font-face
{
    font-family:'Raleway';
    src: url('./font/Raleway/static/Raleway-SemiBold.ttf');
    font-weight: bold;
}

@font-face
{
    font-family:'Raleway';
    src: url('./font/Raleway/static/Raleway-Light.ttf');
    font-weight: lighter;
}

html {
    margin: auto;
    max-width: 1440px;
}
.body
{
    margin: 30px;
}

/*
label style
---------

Ci-après, l'ensemble des rendus des textes
*/

.titleLabel
{
    font-family: 'Raleway';
    font-weight:bold;
    font-size: 17px;
}

.captionLabel
{
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 13px;
}

.sectionTitle
{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 17px;
}
.subtitle
{
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 13px;
    color: grey;
}

span
{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: small;
}

/*
Navigation menu style && header
---------
*/

.logo
{
    display: inline-block;
    justify-content: center;
}
.headerStyle
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search, .filters, .searchFiltersSubtitle
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters
{
    margin: 10px;
}
input
{
    font-weight: bold;
    font-family: "Raleway";
}

#searchIcon
{
    
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
    height: 45px;
    width: 40px;
    display:inline-block;
    text-align: center;
    vertical-align: bottom;

}

input{
    height: 45px;
    width: auto;

    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    box-sizing: border-box;
    font-weight: bold;
    font-family: "Raleway";

}

.searchButton
{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: "Raleway";
    font-size: normal;
    height: 45px;
    width: 110px;
}
.searchButton:hover
{
    background-color:white;
    color: #0065FC;
}

::placeholder
{
    font-family: "Raleway";
    font-weight: bold;
    font-size: normal;
    color: black;
}

#infoIcon {
    color: #0065FC;
    height: 22px;
    width: 22px;
    min-height: 22px;
    min-width: 22px;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    align-items: center;
    margin-right: 4px;
  }

  .filterTitle
  {
    font-family: 'Raleway';
    font-weight:bold;
    font-size: 17px;
    padding: 8px;;
  }
  .filterItems
  {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 10px;

  }
  #filterIcon
  {
    color: #0065FC;
    height: 39px;
    width: 39px;
    min-height: 39px;
    min-width: 39px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #DEEBFF;
    margin-right: -20px;
    z-index: 5;

  }
  .filterLabel
  {
    height: 35px;
    width: 160px;
    font-family: 'Raleway';
    font-weight:bold;
    font-size: 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; 
    border: solid 2px #d9d9d9;
    text-align: center;
    border-left: hidden;
    transition-duration: 0.5s;
  }
  .filterLabel:hover {
    background-color: #f3f8ff;
    transform: scale(1.035);
  }

  .filters
  {
    flex-wrap: wrap;
    padding: auto;
  }

/*
Navigation menu style
*/

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
.navigation a:hover 
{
    border-top: 3px solid #0065FC;
}
.navigation a { 
    margin: 1.5rem;               /* Marges externes (1 valeurs = 4 directions) */

    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.navigation li 
{
    list-style-type: none ;
    font-family: 'Raleway';
}

/*
Footer
---------
*/

.footerStyle{
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
}
.footerTitle
{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: small;
}
.footerLabel
{
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: small;
}

.fa-xs[data-active=true]
{
    color: #0065FC;
}
.fa-xs[data-active=false]
{
    color: #d9d9d9;
}

/*
hebergementMarseille Card
---------

*/

.ActivitesDevision
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;  
}

.activitesMarseille
{
    background-color:white;
    border-radius: 15px;
    padding: 25px;
    width: 720px;
    height: 450px;
}

.MarseilleDivision
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}



.hebergementMarseille
{
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 25px;
    width: 720px;
    height: 450px;
}
.hebergementMarseilleItems
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
}




.lesPlusPopulaire
{
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 25px;
    width: 305px;
    height: 450px;
}
h3, i
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.hebergementMarseilleCard {
    background-color: white;
    padding: 5px;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    height: 155px;
    width: 200px;
    margin: 10px;
    transition-duration: 0.5s;
  }

  .hebergementMarseilleCard a {
    color: #333; 
    text-decoration: none;
  }

  .hebergementMarseilleCard-image {
    height: 100px;
    position:relative;
    overflow:hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .hebergementMarseilleCard-image img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .hebergementMarseilleCard-body
  {
      line-height: 18px;
      margin-left: 5px;
  }
  .hebergementMarseilleCard:hover {
    transform: scale(1.055);
  }

  .cardTitle
{
    font-family: 'Raleway', "Sans serif"; ;
    font-weight: bold;
    font-size: 13px;
    margin:0;
}
.cardLabel
{
    font-family: 'Raleway';      /* Utilisation de la police personalisée */
    font-weight: lighter;
    font-size: 13px;
    margin:0;
}
.moreButton
{
    font-family: 'Raleway';       /* Utilisation de la police personalisée */
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}