@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");

/*
Font
---------
*/

@font-face {
    font-family: 'Raleway';
    src: url('./font/Raleway/static/Raleway-ExtraBold.ttf');
    font-weight: bolder;
}

@font-face {
    font-family: 'Raleway';
    src: url('./font/Raleway/static/Raleway-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Raleway';
    src: url('./font/Raleway/static/Raleway-Light.ttf');
    font-weight: lighter;
}

/*
label style
---------
*/

.titleLabel {
    font-family: 'Raleway';
    font-weight: bolder;
    font-size: normal;
}

.captionLabel {
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: small;
}

.sectionTitle {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: large;
}

.ActivityTitle {
    font-family: 'Raleway';
    font-weight: bolder;
    font-size: normal;
}

.subtitle {
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: small;
    color: grey;
}

.filterTitle {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: large;
}

.titleFooter {
    font-family: 'Raleway';
    font-weight: bolder;
    font-size: small;
}

.subtitleFooter {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: small;
    color: grey;
    text-decoration: none;
}

body {
    max-width: 1440px;
    margin: auto;
}

/*
Navigation menu style && header
---------
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerImg {
    padding: 0px;
    height: 50px;
}

.headerNav {
    display: flex;
    align-items: center;
}

a:link {
    text-decoration: none;
}

.headerNavItem {
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    transition-duration: 0.3s;
    padding: 30px;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}

.headerNavItem[data-active=true] {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.headerNavItem:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/*
Search bar
---------
*/

.filters, .searchFiltersSubtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchFiltersSubtitle {
    margin-top: 0px;
    margin-bottom: 25px;
}

.pageTitle {
    line-height: 5px;
    margin-bottom: 30px;
}

.searchForm {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
    height: 45px;
}

.searchFormIcon {
    background-color: #F2F2F2;
    padding: 15px 15px;
    border-radius: 15px 0 0 15px;
    text-align: justify;
}

.searchFormIconIcon {
    margin-left: 5px;
}

.searchFormSearchInput {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 10px;
    box-sizing: border-box;
    width: 250px;
    font-weight: bold;
    font-family: "Raleway";
    font-size: 15px;
}

.searchFormSearchInput::placeholder {
    font-family: "Raleway";
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.searchFormSubmitInput {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 0 25px;
    font-family: "Raleway";
    cursor: pointer;
}

.searchFormSubmitInputText {
    display: block !important;
}

.searchFormSubmitInputIcon {
    display: none !important;
}

a {
    color: black;
}

#infoIcon {
    color: #0065FC;
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
    border: solid 1.5px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

/*
Filters
---------
*/


.economiqueFilterItems,
.animauxFilterItems,
.familialFilterItems,
.romantiqueFilterItems {
    font-family: 'Raleway';
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 2px solid #F2F2F2;
    border-left: hidden;

    padding: 10px;
    padding-bottom: 9px;
    position: relative;
    transition-duration: 0.5s;
    text-align: justify;
    margin: 20px;
}

.economiqueFilter:visited,
.animauxFilter:visited,
.familialFilter:visited,
.romantiqueFilter:visited {
    color: black;
    text-decoration: none;
}

.romantiqueFilterItems:hover {
    transform: scale(1.055);
    background: #DEEBFF;
}

.familialFilterItems:hover {
    transform: scale(1.055);
    background: #DEEBFF;
}

.animauxFilterItems:hover {
    transform: scale(1.055);
    background: #DEEBFF;
}

.economiqueFilterItems:hover {
    transform: scale(1.055);
    background: #DEEBFF;
}

.economiqueFilterItems::before {
    color: #0065FC;
    content: '\f53a';
    font-family: "Font Awesome 5 Free";
    background: #DEEBFF;
    padding: 13px;
    border-radius: 50%;
    margin-left: -30px;
}

.animauxFilterItems::before {
    color: #0065FC;
    content: '\f6d3';
    font-family: "Font Awesome 5 Free";
    background: #DEEBFF;
    padding: 13px;
    border-radius: 50%;
    margin-left: -30px;
}

.familialFilterItems::before {
    color: #0065FC;
    content: '\f1ae';
    font-family: "Font Awesome 5 Free";
    background: #DEEBFF;
    padding: 13px 15px;
    border-radius: 50%;
    margin-left: -30px;
}

.romantiqueFilter::before {
    color: #0065FC;
    content: '\f004';
    font-family: "Font Awesome 5 Free";
    background: #DEEBFF;
    padding: 13px;
    border-radius: 50%;
    margin-left: -30px;
}

.fa-xs[data-active=true] {
    color: #0065FC;
}

.fa-xs[data-active=false] {
    color: #d9d9d9;
}

.plusPopulaireIcon {
    cursor: pointer;
}

/*
hebergementMarseille Card
---------
*/

.ActivitesDevision {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.MarseilleDivision {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.hebergementMarseille {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 15px;
    width: 60%;
}

.hebergementMarseilleItems {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.lesPlusPopulaire {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 2%;
    width: 25%;
}

h3, i {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lesPlusPopulairesItems {
    display: flex;
    flex-direction: column;
}

.interFlex {
    display: flex;
    flex-direction: row;
}

.lesPlusPopulairesCard {
    width: 100%;
    height: 85%;
    background-color: white;
    padding: 3px;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    margin-bottom: 10%;
}

.lesPlusPopulairesCard a {
    color: #333;
    text-decoration: none;
}

.lesPlusPopulairesCard-image {
    height: 120px;
    width: 35%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.lesPlusPopulairesCard-image img {
    position: relative;
    height: 100%;
}

.lesPlusPopulairesCard-body {
    display: flex;
    flex-direction: column;
    position: relative;
}

.lesPlusPopulairesCard-label {
    margin-left: 5%;
    padding: 5%;
    line-height: 20px;
    white-space: normal;
}

.rate {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-left: 5%;
    padding: 5%;
}

.hebergementMarseilleCard {
    background-color: white;
    padding: 5px;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    height: 55%;
    width: 28%;
    margin-bottom: 40px;
}

.hebergementMarseilleCard a {
    color: #333;
    text-decoration: none;
}

.hebergementMarseilleCard-image {
    height: 100px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergementMarseilleCard-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.cardTitle {
    font-family: 'Raleway', "Sans serif";
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    text-align: left;
    white-space: pre-wrap;
}

.cardLabel {
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 13px;
    margin: 0;
}

.moreButton {
    font-family: 'Raleway';
    font-weight: bolder;
    font-size: 17px;
    text-decoration: none;
    margin-top: 5%;
    margin-bottom: 4%;
}

.moreButton:visited {
    color: black;
    text-decoration: none;
}

.activitesMarseille {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activiteCard {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.5s;
    margin-bottom: 20px;
}

.activiteCard:visited {
    text-decoration: none;
    color: black;
}

.activiteCardLarge:visited {
    text-decoration: none;
    color: black;
}

.activiteCardLarge {
    width: 22%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.5s;
}

.columnInter {
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.hebergementMarseilleCard-body {
    line-height: 18px;
    margin-left: 5px;
}

.navigation a:hover {
    border-top: 3px solid #0065FC;
}


.activiteCardLarge-image {
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    height: 100%;
}

.activiteCard-image {
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    height: 80%;
}

.activiteCardLarge-image img {
    width: 100%;
    height: 320px;
    position: relative;
    object-fit: cover;
}

.activiteCard-image img {
    width: 100%;
    height: 125px;
    position: relative;
    object-fit: cover;
}

.activiteCard-body {
    margin-left: 5%;
}

/*
Footer
---------
*/

.footer {
    background-color: #F2F2F2;
    width: 100%;
}

.footerColumn {
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.footerColumnItem {
    width: 30%;
    padding: 20px 20px;
}

@media screen and (max-device-width: 992px) {
    .header, .SearchAndFilter, .firstSection {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .MarseilleDivision {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .hebergementMarseille {
        background-color: white;
        padding: 20px;
        width: 100%;
    }

    .lesPlusPopulaire {
        background-color: white;
        padding: 2%;
        width: 90%;
    }

    .lesPlusPopulairesItems {
        display: flex;
        flex-direction: row;
    }

    .lesPlusPopulairesCard {
        width: 100%;
        height: 85%;
        background-color: white;
        padding: 3px;
        border-radius: 15px;
        box-shadow: 0 0 16px #0000002e;
        margin-right: 20px;
        margin-bottom: 0px;
    }

    .moreButton {
        font-family: 'Raleway';
        font-weight: bolder;
        font-size: 19px;
        text-decoration: none;
    }

    .sectionTitleTablet {
        color: #0065FC;
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 20px;
    }

    .cardTitle {
        font-family: 'Raleway', "Sans serif";
        font-weight: bold;
        font-size: 16px;
        margin: 0;
        text-align: left;
        white-space: pre-wrap;
    }

    .cardLabel {
        font-family: 'Raleway';
        font-weight: lighter;
        font-size: 14px;
        margin: 0;
    }
}


@media screen and (max-device-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    .headerNav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

    }
}