/*
style.css
---------

*/

/*
Font
---------

*/
@font-face {
    font-family:'Raleway';                                     /* Mise en place de la police personalisée */
    src: url('./font/Raleway/Raleway-VariableFont_wght.ttf'); /* chemin d'accés de la police personalisée */
}

/*
label style
---------
*/

.titleLabel
{
    font-family: 'Raleway', "Sans serif";;       /* Utilisation de la police personalisée */
    font-weight: bold;
    font-size: 19px;
}

.captionLabel
{
    font-family: 'Raleway', "Sans serif";;       /* Utilisation de la police personalisée */
    font-weight: lighter;
    font-size: 13px;
}
.firstSection
{
    display: flex;
    line-height: normal;
    margin: 20px;
}

.pageTitle
{
    margin: 20px;
}

/*
Navigation menu style && header
---------
*/

.logo
{
    display: inline-block;
    justify-content: center;
}
.headerStyle
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*
Navigation menu style
*/

.navigation {
    display: flex;               /* Transformation en flexbox pour mettre le menu a l'horizontal*/
    flex-direction: row;
    align-items: center;
    padding: 0;                  /* Suppression des marges internes */
}
.navigation a:hover 
{
    border-top: 3px solid #0065FC;
}
.navigation a { 
    margin: 1.5rem;               /* Marges externes (1 valeurs = 4 directions) */

    text-align: center;           /* Centrage du texte */   
    color: rgb(0, 0, 0);        /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
}
.navigation li 
{
    list-style-type: none ;       /* Suppression des puces */
    font-family: 'Raleway';       /* Utilisation de la police personalisée */
}

/*
Footer
---------
*/

.footerStyle{
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
}
.footerTitle
{
    font-family: 'Raleway';       /* Utilisation de la police personalisée */
    font-weight: bold;
    font-size: small;
}
.footerLabel
{
    font-family: 'Raleway';       /* Utilisation de la police personalisée */
    font-weight: lighter;
    font-size: small;
}
  .fa-xs[data-active=true] {
    color: #0065FC;
  }
  .fa-xs[data-active=false] {
    color: #d9d9d9;
  }

span
{
    font-family: 'Raleway';       /* Utilisation de la police personalisée */
    font-weight: bold;
    font-size: small;
}   

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
  }


/*
hebergementMarseille Card
---------

*/

.MarseilleSection
{
    display: flex;
    justify-content: space-between;
}
.hebergements
{
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2em;
    width: 700px;
    height: 450px;
    margin-bottom: 10px;
}
.lesPlusPopulaire
{
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2em;
    width: 300px;
    height: 450px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;

}
.lesPlusPopulaireHeader
{
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.hebergementMarseilleCard {
    background-color: white;
    padding: 0.370rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    padding: 0.5em;
    flex-direction: row;

  }
  .hebergementMarseilleCard a {
    color: #333; 
    text-decoration: none;
  }

  .hebergementMarseilleCard-image {
    height: 100px;
    position:relative;
    overflow:hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .hebergementMarseilleCard-image img {
    width: 150%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-60%, -50%);
  }

  .cardTitle
{
    font-family: 'Raleway';       /* Utilisation de la police personalisée */
    font-weight: bold;
    font-size: 13px;
    margin:0;
}
.cardLabel
{
    font-family: 'Raleway', "Sans serif";       /* Utilisation de la police personalisée */
    font-weight: lighter;
    font-size: 13px;
    margin:0;
}
.moreButton
{
    font-family: 'Raleway';       /* Utilisation de la police personalisée */
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}