/*
style.css
---------

*/

/*
Font
---------
*/
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css"); 

@font-face {
    font-family: 'Raleway';
    src: url('./font/Raleway/static/Raleway-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Raleway';
    src: url('./font/Raleway/static/Raleway-Light.ttf');
    font-weight: lighter;
}

.margingPage {
    margin: auto;
    max-width: 1440px;
    margin: 30px;
}

/*
label style
---------

Ci-après, l'ensemble des rendus des textes
*/

.titleLabel {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 17px;
}

.captionLabel {
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 13px;
}

.sectionTitle {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 17px;
}

.ActivityTitle {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 14px;
}

.subtitle {
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 13px;
    color: grey;
}

span {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: small;
}

.filterTitle {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 17px;
}

.subtitleFooter {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 13px;
    color: grey;
    text-decoration: none;
}

/*
Navigation menu style && header
---------
*/

.logo {
    display: inline-block;
    justify-content: center;
}

.headerStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search, .filters, .searchFiltersSubtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchFiltersSubtitle {
    margin-top: 0px;
    margin-bottom: 25px;
}

.pageTitle {
    line-height: 5px;
    margin-bottom: 30px;
}

input {
    font-weight: bold;
    font-family: "Raleway";
}

#searchIcon {

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
    height: 45px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}

input {
    height: 45px;
    width: auto;

    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    box-sizing: border-box;
    font-weight: bold;
    font-family: "Raleway";
}

.searchButton {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: "Raleway";
    font-size: normal;
    height: 45px;
    width: 110px;
}

::placeholder {
    font-family: "Raleway";
    font-weight: bold;
    font-size: normal;
    color: black;
}

#infoIcon {
    color: #0065FC;
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
    border: solid 1.5px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}


/*
Filters
---------
*/


.economiqueFilterItems, 
.animauxFilterItems, 
.familialFilterItems, 
.romantiqueFilterItems {
    font-family: 'Raleway';
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 2px solid #F2F2F2;
    border-left: hidden;

    padding: 10px;
    padding-bottom: 9px;
    position: relative;
    transition-duration: 0.5s;
    text-align: justify;
    margin: 20px;
}
a:link {
    text-decoration: none;
}
.economiqueFilter:visited, 
.animauxFilter:visited, 
.familialFilter:visited, 
.romantiqueFilter:visited{
    color: black;
    text-decoration: none;
}
.romantiqueFilterItems:hover{
    transform: scale(1.055);
    background: #DEEBFF;
}
.familialFilterItems:hover{
    transform: scale(1.055);
    background: #DEEBFF;
}
.animauxFilterItems:hover{
    transform: scale(1.055);
    background: #DEEBFF;
}
.economiqueFilterItems:hover{
    transform: scale(1.055);
    background: #DEEBFF;
}

.economiqueFilterItems::before {
    color: #0065FC;
    content: '\f53a';    
    font-family: "Font Awesome 5 Free";
    background: #DEEBFF;
    padding: 13px;
    border-radius: 50%;
    margin-left: -30px;
}
.animauxFilterItems::before {
    color: #0065FC;
    content: '\f6d3';    
    font-family: "Font Awesome 5 Free";
    background: #DEEBFF;
    padding: 13px;
    border-radius: 50%;
    margin-left: -30px;
}
.familialFilterItems::before {
    color: #0065FC;
    content: '\f1ae';    
    font-family: "Font Awesome 5 Free";
    background: #DEEBFF;
    padding: 13px;
    border-radius: 50%;
    margin-left: -30px;
}
.romantiqueFilter::before {
    color: #0065FC;
    content: '\f004';    
    font-family: "Font Awesome 5 Free";
    background: #DEEBFF;
    padding: 13px;
    border-radius: 50%;
    margin-left: -30px;
}

/*
Navigation menu style
*/

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.navigation a:hover {
    border-top: 3px solid #0065FC;
}

.navigation a {
    margin: 1.5rem;
    /* Marges externes (1 valeurs = 4 directions) */

    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navigation li {
    list-style-type: none;
    font-family: 'Raleway';
}

.fa-xs[data-active=true] {
    color: #0065FC;
}

.fa-xs[data-active=false] {
    color: #d9d9d9;
}

/*
hebergementMarseille Card
---------

*/

.ActivitesDevision {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.MarseilleDivision {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 5%;
}



.hebergementMarseille {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 20px;
    width: 60%;
    height: 45%;
}

.hebergementMarseilleItems {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}




.lesPlusPopulaire {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 25px;
    width: 25%;
    height: 45%;
}

h3, i {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.lesPlusPopulairesItems {
    display: flex;
    flex-direction: column;
}

.lesPlusPopulairesCard {
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.5s;
    margin-bottom: 10%;
}
.lesPlusPopulairesCard a {
    color: #333;
    text-decoration: none;
}

.lesPlusPopulairesCard-image {
    height: 100%; 
    width: 45%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.lesPlusPopulairesCard-image img {
    position: absolute;
}

.lesPlusPopulairesCard-body {
    line-height: auto;
    margin-left: 50%;
    margin-top: -31%;
    margin-bottom: 10%;
    padding-right: 10%;
    position: relative;
}

.rate {
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    margin-top: -5%;
}

.lesPlusPopulairesCard:hover {
    transform: scale(1.055);
}

.hebergementMarseilleCard {
    background-color: white;
    padding: 5px;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    height: 155px;
    width: 200px;
    margin: 10px;
    transition-duration: 0.5s;
}

.hebergementMarseilleCard a {
    color: #333;
    text-decoration: none;
}

.hebergementMarseilleCard-image {
    height: 100px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergementMarseilleCard-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.hebergementMarseilleCard-body {
    line-height: 18px;
    margin-left: 5px;
}

.hebergementMarseilleCard:hover {
    transform: scale(1.055);
}

.cardTitle {
    font-family: 'Raleway', "Sans serif";
    ;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
}

.cardLabel {
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 13px;
    margin: 0;
}

.moreButton {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

.activitesMarseille {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    width: 100%;
}

.activiteCard {
    height: 60%;
    width: 25%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.5s;
    margin-bottom: 20px;  
    width: 24%;
    height: 100%;
    width: 100%;
}

.activiteCardLarge{
    height: 100%;
    width: 24%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.5s;
    margin-bottom: 20px;
    width: 24%;  
    height: 100%;
}
.columnInter{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 100%;
    width: 24%;
}
.activiteCard:hover {
    transform: scale(1.055);
}
.activiteCardLarge:hover {
    transform: scale(1.055);
}
.column-image {
    height: 90%; 
    width: 100%;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}

.column-image img {
        /*agit sur la taille de l'image*/
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.column-body {
    margin-left: 5%;
}

/*
Footer
---------
*/

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
}

#footer div {
    display: table-cell;
    width: 33.333%;
    text-align: left;
    margin: 30px;
}

#footer div h3 {
    text-align: left;
}

#footer div:nth-of-type(3) {
    text-align: left;
}